{% extends 'account/base.html' %}
{% load static %}


{% block content %}
          <!-- start Patient-dasboard side -->

    <div class="nav-patient-dashboard">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <ul id="slide-out" class="sidenav">
              <li><div class="user-view">
                <div class="background">
                  <img src="./images/6.jpg">
                </div>
                <a href="#user"><img class="circle p-d-image"
                {%if obj.img%}
                     src = "{{obj.img.url}}"
                     {%else%}
                   src="{%static 'images/patients/patient1.jpg'%}"
                {%endif%}
                >

                </a>
                <a href="#name"><span class="white-text name">{{obj.patient_name}}</span></a>
                <a href="#email"><span class="white-text email">{{obj.user.email}}</span></a>
              </div></li>
              <li><a href="{% url 'patient_dashboard' %}"><i class="material-icons">assignment_ind</i>Dashboard</a></li>
              <li><a href=""><i class="material-icons">settings</i>Setting</a></li>
              <li><a href="./patient-change-password.html"><i class="material-icons">lock</i>Change password</a></li>
              <li><a href="{%url 'logout'%}"><i class="material-icons">exit_to_app</i>Log out</a></li>
            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger nav-icon-d"><i class="material-icons">reorder</i></a>
            <span class="label-p-dashboard">patient dasboard</span>
          </div>
        </div>
      </div>
    </div>
  
   <!-- End Patient-dasboard side -->


  <!-- start patient profile -->

  <div class="patient-profile">
    <div class="row">
      <div class="col s12 l3 theiaStickySidebar">
        <div class="p-profile center">
          <div class="p-pic">
            <img
                      {%if obj.img%}
                     src = "{{obj.img.url}}"
                     {%else%}
                   src="{%static 'images/patients/patient1.jpg'%}"
                {%endif%}

                    alt=""><br>
            <h6 class="p-name">{{obj.patient_name}}</h6>
            <span class="p-id">Patient ID: </span><span>{{obj.National_ID}}</span>
            <p class="p-place"><i class="fas fa-location-arrow"></i><span>{{obj.address}}</span></p>
          </div>
        </div>
      </div>
      <div class="col s12 l9">
        <div class="p-setting">
          <div class="p-setting-pic">
            <img
                      {%if obj.img%}
                     src = "{{obj.img.url}}"
                     {%else%}
                   src="{%static 'images/patients/patient1.jpg'%}"
                {%endif%}
           >
          </div>
          <div class="p-setting-form">
            <form method="POST" enctype="multipart/form-data">
              {%csrf_token%}
                  <label  class="custom-file-upload">
                  <input  name="img" type="file"/>
                  Upload pic
                    </label>
        <br>
              <div class="input">
                <span>First name</span>
                <input name="first_name" type="text">
              </div>
              <div class="input">
                <span>last name</span>
                <input name="last_name" type="text">
              </div><br>
              <div class="input">
                <span>Date of brith</span>
                <input name="birthday" type="date">
              </div>
              <div class="input">
                <span>Age</span>
                <input name="age" type="number">
              </div>
              <div class="input">
                <span>Blood Group</span>
                <select class="select-blood" name="blood" id="">
                  <option value="A+">A+</option>
                  <option value="B">B+</option>
                  <option value="AB">AB</option>
                  <option value="O">O</option>

                </select>
              </div>
              <div class="input">
                <span>Email</span>
                <input name="email" type="email">
              </div>
              <div class="input">
                <span>Mobile</span>
                <input name="phone" type="number">
              </div>
              <div class="input adress">
                <span>address</span>
                <input name="address" type="text">
              </div>
              <input class="save-changes" type="submit" value="Save Changes">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End patient profile -->


 {% endblock content%}
